@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Caveat', cursive;
    font-family: 'DM Serif Display', serif;
    font-family: 'Josefin Sans', sans-serif;
}

h1,h2 {
    font-family: 'Roboto', sans-serif;
}

a:focus, button:focus {
    outline: none;
    /* border-bottom:2px solid #B84A62; */
}


.logo-img{
    height:25px;
    width: 25px;
    margin-right: 7px;
}

span{
    color: #B84A62;
    font-weight: bolder;
}
.icon-link{
    font-weight: bold;
    text-decoration: none;
    color:white;
}

.navbar {
    background-color: #8f99fb  !important;    
}

.border-bottom{
    border-color: #B84A62 !important ;
}
#banner {
    background-color: #8f99fb;
}

.spider-img{
    height:70px;
    width:70px;
}
h1{
    font-weight:bold;
    font-size:70px;
}


p {
    text-indent:15px;
}

.prg-img{
    height:250px;
    width: 250px;
}

.active{
    display:none;
}

#project, #aboutMe, #area-of-intrest, #certifications ,#contact{
    margin-top: 150px;
}
.icon-link:hover{
    color:#B84A62;
}
.nav-link:hover{
    color: #B84A62 !important;
}
.btn:hover{
    color:white;
    background-color: #B84A62;
    outline: #B84A62;
}

/* For search  */

.input{
    margin:7px;
    margin-right: 30px;
    box-sizing: border-box;
    width:30px;
    height:30px;
    background-color: white;
    border-radius: 5px;
    border:0;
    padding: 15px;
    font-size: 18px;
    transition: width 0.3s ease;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.search{
    position: relative;
    height: 50px;
}

button.button {
    margin:7px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color:#B84A62;
    background-color: white;
    border:0;
    position: absolute;
    left:0;
    top:0;
    transition: transform 0.3s ease;
}

.input:focus , .buttton:focus {
    outline:none;
}

.search.activeBtn .input{
    width:200px;
}

.search.activeBtn .button{
    transform: translateX(198px);
}



@media (max-width:576px){
    h1{
        font-size:40px;
    }
    .spider-img{
        height: 40px;
        width: 40px;
    }
    /* body{
        text-align: center;
    } */
    .boy-img{
        height:200px;
        width: 200px;
    }
   
}
@media (min-width:900px) {
    .margin-adj{
        margin-top:120px;
    }
}

@media(max-width:1030px){
    .search{
        display:none;
    }
}


